
#add-modal{
    width:700px;
}
#modify-modal{
    width: 287px;
    text-align:center;
}
#delete-modal{
    width:287px;
    text-align: center;
}
#wrap{
    display:inline-block;
    padding-top:160px;
}
.first-box{
    margin-top:150px;
}
.box{
    width:802px;
    margin-bottom: 25px;
    display: block;
    padding:20px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width:842px;
    background-color: #fff;
    left:50%;
    transform: translate(-50%,0);
    border-radius: 20px;
    top:45px;
}
.material-symbols-rounded {
    font-size: 30px !important;
    color:#1877F2;
    cursor: pointer;
}
.month{
    font-size:40px;
    color:#1877F2;
    font-weight: bold;
    margin:0 10px;
}

.date{
    color:#1877F2;
    font-size:22px;
    font-weight: bold;
}

.date-time{
    margin-top: 5px;
}

.date-time:focus{
    border-color:#1877f2;
    outline: none;
}
.time{
    width:25px;
    text-align:center;
    font-size:20px;
}
.content{
    margin-left:10px;
    width: 250px;
    font-size: 20px;
}
.schedule-box{
    display: flex;
    justify-content: space-between;

}
.schedule-content{
    display: flex;
    align-items:center;
    font-size:20px;
}
.schedule-content2{
    display: flex;
    align-items:center;
}

.schedule-item{
    margin-right:5px;
    font-size:20px;
    text-align:left;
}

.schedule-item2{
    margin-right:5px;
    font-size:20px;
    text-align:left;
}
.menu-bar{
    width: 30%;
    height: 100%;
    background-color: #fff;
    /* display: none; */
    left: -61%;
    text-align:right;
    padding: 20px;
    color:#1877F2;
    margin-top:58px;
    position: fixed;
    background-color: #fff;
    top: -58px;
}

.menu-content{
    text-align: center;
}
.greeting-message{
    margin:25px 0;
}
.all-schedules{
    text-align:left;
    padding: 16px;
}
.schedule{
    font-weight: bold;
    margin-top: 15px;
}

.line{
    display: block;
    width:100%;
    height:1px;
    background-color:#1877F2;
    margin:5px 0;
}
.member-schedule{
    display:block;
    font-weight: normal;
    margin: 10px 20px;
}
.team{
    display:none;
}
.member{
    display:none;
}
.buttons{
    font-size:14px;
    margin:0 8px;
    border: none;
    border-radius: 10px;
    background-color: #1877F2;
    color:#fff;
    padding:5px 10px;
    width:60px;
    height:30px;
}

.text-input{
    width: 75%;
    border:1px solid #1877F2;
    border-radius: 10px;
    padding-left:5px;
    height:29px;
    margin-top: 5px;
}

.text-input{
    border-color:#1877f2;
    outline: none;
}



#logout{
    width:fit-content;
}

.show{
    display:block;
}
.hide{
    display : none; 
}


@media (max-width: 1000px) {
    .navbar{
        width:98%;
    }
    .text-input{
        
        width:53%;
        
    }
    .buttons{
        margin-left: 3px;
    }

    .box{
        padding:11px;
        width:92%;
    }
    .menu-bar{
        width:50%;
    }
}